body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

footer {
  clear: both;
}

.centered {
  max-width: 50%;
  margin: 0 auto;

  border: 1px solid $border-color;
  padding: 5px 10px;
}

.grayed {
  background-color: #eee;
  border: 1px solid $border-color;

  text-align: center;
}

.bordered-wrapper {
  border: 1px solid $border-color;
}

.content {
  float: left;
  margin: 0 1.5%;
  width: 63%;
}

.right-sidebar {
  float: right;
  margin: 0 1.5%;
  width: 30%;
}

.notes {
  margin-bottom: 5em;

  & article {
    padding: 1em 2em;
    border-bottom: 1px solid $border-color;
  }

  & p {
    text-indent: 1em;
  }
}


.tag-inline {
  color: $tag-inline-color;
}

.style-inline {
  color: $style-inline-color;
}

.attribute-inline {
  color: $attribute-inline-color;
}

.label {
  display: inline-block;
  padding: .2em .5em;

  &-green {
    background-color: $label-green-color;
  }

  &-yellow {
    background-color: $label-yellow-color;
  }

  &-right {
    float: right;
  }
}

.group {
  clear: both;
  *zoom: 1;

  &::before {
    content: "";
    display: table;
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
