{% extends "base.html" %}


{% block title %}Renkoru - CSS{% endblock %}

{% block content %}

<section class="notes">

  <h1>CSS</h1>

  <p>
    Remember that each browser has its css pre styles. And you need to overwrite them
    if you want same styles on all browsers. (it is named as "Reset CSS")
  </p>

  <article>
    <h2> Вычисление специфичности </h2>
    <p>
      Каждый селектор в CSS имеет вес специфичности, он вместе с положением
      в каскаде определяет, как будут отображаться стили.

      В уроке 1 «Создание первой веб-страницы» мы говорили о трёх разных
      видах селекторов: селектор типа, класс и идентификатор. Каждый из этих
      селекторов имеет различный вес специфичности.

      У селектора типа низкий вес специфичности и значение балла 0-0-1. У
      селектора класса средний вес специфичности и значение балла
      0-1-0. Наконец, у идентификаторов высокая специфичность и значение
      балла 1-0-0. Как мы видим, баллы специфичности вычисляются с помощью
      трёх колонок. В первой колонке количество идентификаторов, во второй
      классов, а третья колонка считает селекторы типа.

      Важно отметить, что идентификатор имеет больший вес специфичности чем
      селектор класса, а класс больший вес, чем селектор типа.
    </p>

    <pre>
      <code class="language-css">
        .hotdog p {          /* 0-1-1 */
            /* ... */
        }
        .hotdog p.mustard {  /* 0-2-1 */
            /* ... */
        }
        .hotdog .mustard {   /* 0-2-0 */
            /* ... */
        }
      </code>
    </pre>
  </article>

  <article>
    <h2>Sizes</h2>
    <p>Pixels</p>
    <p>'%' is size in percents of parent size</p>
    <p>
      1em = font-size <br/>
      em часто применяется для стилизации текста, в том числе размера
      шрифта, а также пространства вокруг текста, включая margin и
      padding.
    </p>
  </article>

  <article>
    <h2>CSS. display</h2>
    <p>
      Есть немало значений для свойства <span class="style-inline">display</span>, но наиболее
      распространённые это
      <span class="style-inline">block</span>,
      <span class="style-inline">inline</span>,
      <span class="style-inline">inline-block</span> и
      <span class="style-inline">none</span>.
      Мы можем изменить значение свойства
      <span class="style-inline">display</span>
      элемента, выбрав этот элемент в CSS и задав новое значение свойства
      <span class="style-inline">display</span>.
      Значение
      <span class="style-inline">block</span>
      сделает этот элемент блочным.  Значение
      <span class="style-inline">inline</span>
      сделает
      этот элемент строчным.  Самое интересное это значение
      <span class="style-inline">inline-block</span>
      . Его использование позволит элементу вести себя как
      блочный, включая все свойства блочной модели (которые мы вскоре
      рассмотрим). Однако, элемент будет отображаться на строке с
      другими элементами, а не будет начинаться с новой строки по
      умолчанию.
      В заключение, используя значение none полностью скрываем элемент и
      отображаем страницу, словно элемента не существует. Любые элементы,
      вложенные в такой элемент, также будут скрыты.
    </p>
  </article>

  <article>
    <h2> Что такое блочная модель? </h2>
    <p>
      В соответствии с концепцией блочной модели,
      каждый элемент на странице представляет собой прямоугольный блок и
      может иметь ширину, высоту, поля, границы и отступы.

      Это стоит повторить: Каждый элемент на странице представляет собой
      прямоугольный блок.
      Каждая часть блочной модели соответствует свойству CSS:
      <span class="style-inline">width</span>,
      <span class="style-inline">height</span>,
      <span class="style-inline">padding</span>,
      <span class="style-inline">border</span> и
      <span class="style-inline">margin</span>.
    </p>
    <p>
      В соответствии с блочной моделью общая ширина элемента может
      быть рассчитана по следующей формуле: <br>

      margin-right + border-right + padding-right + width + padding-left + border-left + margin
    </p>
    <img alt="Box-Model" src="static/box-model.png">
  </article>

  <article>
    <h2>CSS. width</h2>
    <p>
      По умолчанию ширина элемента основана на значении
      <span class="style-inline">display</span>.
      У блочных элементов ширина по умолчанию 100% и занимает всё доступное
      горизонтальное пространство. Строчные и строчно-блочные элементы
      расширяются и сжимаются горизонтально для размещения их
      содержимого. Строчные элементы не могут иметь фиксированный размер,
      таким образом, ширина и высота относятся только к не строчным
      элементам. Чтобы задать определённую ширину для не строчных элементов,
      используйте свойство
      <span class="style-inline">width</span>.
    </p>
    <h5>inline elem: <em>(css width does not work)</em></h5>
    <span class="grayed" style="width: 400px">width = 400px</span>

    <h5>block elem:</h5>
    <div class="grayed" style="width: 400px">width = 400px</div>
  </article>


  <article>
    <h2> Размеры строчно-блочных элементов </h2>
    <p>
      Пожалуйста, помните, что строчные элементы не принимают свойства
      <span class="style-inline">width</span>
      и height и любые их значения. Блочные и строчно-блочные элементы,
      однако, принимают свойства
      <span class="style-inline">width</span> и
      <span class="style-inline">height</span>
      и соответствующие им значения.
    </p>
  </article>

  <article>
    <h2>margin</h2>
    <p>
      Свойство margin позволяет нам установить пространство, которое
      окружает элемент.
      <span class="style-inline">margin</span>
      находятся за пределами любых границ и
      полностью прозрачны в цвете. Они могут использоваться для
      позиционирования элементов в конкретном месте на странице или добавить
      пустое пространство, сохраняя все другие элементы на безопасном
      расстоянии.

      Одной из причуд
      <span class="style-inline">margin</span>
      являются вертикальные значения, сверху и снизу,
      они не применяются к строчным элементам, но применяются к блочным и
      строчно-блочным элементам.
    </p>

    <h5>inline elem: <em>(vertical margin does not work)</em></h5>
    <div class="bordered-wrapper">
      <span class="grayed" style="margin: 10px">margin: 10px</span>
    </div>

    <h5>block elem:</h5>
    <div class="bordered-wrapper">
      <div class="grayed" style="margin: 10px">margin: 10px</div>
    </div>
  </article>


  <article>
    <h2> margin и padding для строчных элементов </h2>
    <p>
      Строчные элементы ведут себя немного по-другому, чем блочные и
      строчно-блочные элементы, когда дело доходит до отступов и полей. Для
      строчных элементов
      <span class="style-inline">margin</span>
      работает только горизонтально — слева и
      справа от элементов.
      <span class="style-inline">padding</span>
      работает на всех четырёх сторонах
      строчных элементов, однако вертикальные поля сверху и снизу могут
      выходить за пределы строки выше и ниже элемента.

      Отступы и поля работают как обычно для блочных и строчно-блочных
      элементов.
    </p>
  </article>

  <article>
    <h2> Цвет отступов и полей </h2>
    <p>
      Свойства
      <span class="style-inline">margin</span> и
      <span class="style-inline">padding</span>
      полностью прозрачны и не принимают
      какие-либо цветовые значения. Но будучи прозрачными они
      показывают цвет фона связанных элементов. Для
      <span class="style-inline">margin</span>
      мы видим цвет фона родительского элемента, а для
      <span class="style-inline">padding</span>
      видим цвет фона элемента, к которому применяется
      <span class="style-inline">padding</span>.
    </p>
  </article>

  <article>
    <h2> Границы для отдельных сторон </h2>
    <p>
      Как и со свойствами
      margin и
      padding
      границы могут быть размещены на одной стороне элемента за раз при желании.
      Это требует новых свойств:
      <span class="style-inline">border-top</span>,
      <span class="style-inline">border-right</span>,
      <span class="style-inline">border-bottom</span> и
      <span class="style-inline">border-left</span>.
      Значения для этих свойств такие же, как и для border: ширина, стиль и цвет.
      При желании можно сделать так, чтобы граница появлялась только внизу
      элемента:

      <pre>
        <code class="language-css">
            div {
                border-bottom: 6px solid #949599;
            }
        </code>
      </pre>


      Кроме того, стилями для
      отдельных сторон можно управлять на ещё более тонком
      уровне. Например, если мы хотим изменить только ширину нижней
      границы, то можем использовать следующий код:

      <pre>
        <code class="language-css">
            div {
                border-bottom-width: 12px;
            }
        </code>

      </pre>
      Такое довольно специфичное свойство
      границы включают в себя ряд разделённых дефисом слов, начинающихся с
      <span class="style-inline">border</span>,
      затем идёт выбранная сторона —
      <span class="style-inline">top</span>,
      <span class="style-inline">right</span>,
      <span class="style-inline">bottom</span> или
      <span class="style-inline">left</span>,
      а затем
      <span class="style-inline">width</span>,
      <span class="style-inline">style</span> или
      <span class="style-inline">color</span>,
      в зависимости от желаемого свойства.
    </p>
  </article>

  <article>
    <h2> Размеры блока </h2>
    <p>
      До сих пор блочная модель была аддитивной. Если вы установили для
      <span class="style-inline">width</span>
      400 пикселей, затем добавили 20 пикселей
      <span class="style-inline">padding</span> и
      <span class="style-inline">border</span> 10
      пикселей на каждой стороне, фактическая полная ширина элемента
      становится 460 пикселей. Помните, мы должны сложить значения свойств
      <span class="style-inline">width</span>,
      <span class="style-inline">padding</span> и
      <span class="style-inline">border</span>
      вместе, чтобы получить реальную полную ширину элемента.

      Блочная модель, однако, может быть изменена, чтобы вычисления
      происходили иначе. <strong>CSS3</strong> ввёл свойство
      <span class="style-inline">box-sizing</span>,
      которое позволяет нам точно менять, как блочная модель работает и как вычисляются
      размеры элемента. Это свойство принимает три основных значения —
      <span class="style-inline">content-box</span>,
      <span class="style-inline">padding-box</span> и
      <span class="style-inline">border-box</span>,
      каждое из которых оказывает несколько разное влияние на вычисление размера блока.
    </p>
  </article>

  <article>
    <h2> Свойства и значения специфичные для браузера </h2>
    <p>
      Что означают все эти дефисы и буквы в свойстве
      <span class="style-inline">box-sizing</span>?

      Когда был представлен CSS3, браузеры постепенно начали
      поддерживать разные свойства и значения, включая свойство
      <span class="style-inline">box-sizing</span>,
      путём добавления вендорных префиксов. Когда части
      спецификации CSS3 будут завершены и выпущены новые версии
      браузеров, эти префиксы станут всё менее и менее актуальными. Со
      временем префиксы вряд ли будут проблемой, однако, они всё ещё
      обеспечивают поддержку некоторых старых браузеров. Мы можем
      работать с ними время от времени и, возможно, даже захотим
      использовать их, если нам нужна поддержка старых браузеров.

      Вендорные префиксы можно увидеть для свойств и значений, всё
      зависит от спецификации CSS. Здесь они показаны для свойства
      <span class="style-inline">box-sizing</span>.
      Разработчики браузеров были свободны в выборе, когда
      использовать префикс, а когда нет. Таким образом, одни свойства
      и значения требуют префиксы для некоторых браузеров, а другие
      нет.

      Ниже, когда свойство или значение требует вендорный префикс, то
      префикс будет использоваться только для представления этого
      свойства или значения (в интересах сохранения нашего кода
      простым и кратким). Не забудьте добавить необходимые префиксы,
      когда вы станете писать реальный код.

      Для справки, наиболее распространённые префиксы изложены здесь:

      <pre>
        Mozilla Firefox                       : -moz-
        Microsoft Internet Explorer           : -ms-
        Webkit (Google Chrome и Apple Safari) : -webkit-
      </pre>
    </p>
  </article>

  <article>
    <h3> content-box </h3>
    <p>
      Значение
      <span class="style-inline">content-box</span>
      является значением по умолчанию, оставляя
      блочную модель в качестве аддитивной. Если мы не используем свойство
      <span class="style-inline">box-sizing</span>,
      то это будет значением по умолчанию для всех элементов.
      Размер элемента начинается со свойств
      <span class="style-inline">width</span> и
      <span class="style-inline">height</span>,
      далее к ним добавляются значения свойств
      <span class="style-inline">padding</span>,
      <span class="style-inline">border</span> или
      <span class="style-inline">margin</span> .
    </p>

    <h3>padding-box</h3>
    <p>
      Значение
      <span class="style-inline">padding-box</span>
      изменяет блочную модель путём включения всех значений свойства
      <span class="style-inline">padding</span>
      внутри
      <span class="style-inline">width</span> и
      <span class="style-inline">height</span>
      элемента. При использовании значения
      <span class="style-inline">padding-box</span>,
      если у элемент
      <span class="style-inline">width</span>
      равно 400 пикселей и
      <span class="style-inline">padding</span>
      20 пикселей вокруг всех сторон, фактическая ширина останется 400 пикселей. При
      увеличении
      <span class="style-inline">padding</span>
      на любое значение, размер содержимого внутри элемента сжимается пропорционально.

      Если мы добавим
      <span class="style-inline">border</span> или
      <span class="style-inline">margin</span>,
      эти значения будут добавлены к свойствам
      <span class="style-inline">width</span> или
      <span class="style-inline">height</span>
      для вычисления полного размера блока. Например, если мы добавим
      <span class="style-inline">border</span>
      10 пикселей и
      <span class="style-inline">padding</span>
      20 пикселей вокруг всех сторон элемента, у которого
      <span class="style-inline">width</span>
      400 пикселей, фактическая полная ширина будет 420 пикселей.
    </p>

    <h3> border-box. Выбор размера блока </h3>
    <p>
      Вообще говоря, лучшее значение
      <span class="style-inline">box-sizing</span>
      для применения — это
      <span class="style-inline">border-box</span>.
      Это значение намного упрощает нам математику. Если мы
      хотим, чтобы весь элемент был 400 пикселей в ширину, он останется 400
      пикселей в ширину, независимо от того, какие значения
      <span class="style-inline">padding</span> или
      <span class="style-inline">border</span>
      мы к нему добавляем.

      Кроме того, мы можем легко смешивать значения длины. Скажем, мы хотим,
      чтобы наш блок занимал 40% в ширину. Добавление
      <span class="style-inline">padding</span>
      20 пикселей и
      <span class="style-inline">border</span>
      10 пикселей для всех сторон элемента не сложно и мы по-прежнему
      можем гарантировать, что фактическая ширина нашего блока останется
      40%, несмотря на использование пикселей в другом месте.

      Единственный недостаток свойства
      <span class="style-inline">box-sizing</span>
      в том, что как часть спецификации CSS3 она не поддерживается во всех браузерах, особенно не
      хватает поддержки в старых версиях. К счастью, это становится всё
      менее и менее актуальным, поскольку выходят новые версии. Скорее
      всего, мы можем безопасно использовать свойство
      <span class="style-inline">box-sizing</span>,
      но если вы заметили какие-то проблемы, стоит посмотреть с каким браузером они связаны.
    </p>

    <img alt="" src="static/box-sizing.png">

  </article>


  <article>
    <h2> Универсальный селектор </h2>
    <p>
      На первом этапе данного упражнения мы представили универсальный
      селектор. В CSS звёздочка (*) это универсальный селектор,
      который выбирает каждый элемент. Вместо перечисления всех
      отдельных элементов мы можем использовать звёздочку для выбора
      всех элементов.
    </p>
  </article>


</section>

<section class="notes">
  <h1>Позиционирование содержимого</h1>
</section>

{% endblock %}
