{% extends "base.html" %}

{% block title %}Renkoru - HTML{% endblock %}

{% block content %}

<section class="notes">

  <article>
    <h2>DOCTYPE</h2>
    <p>
      Объявление типа документа или
      <span class="tag-inline">&lt;!DOCTYPE html&gt;</span>
      находится в самом начале HTML-документа и сообщает браузерам,
      какая версия HTML применяется.
      Поскольку мы будем использовать последнюю версию HTML, наш тип
      документа будет просто
      <span class="tag-inline">&lt;!DOCTYPE html&gt;</span>
      .
      После этого идёт элемент
      <span class="tag-inline">&lt;html&gt;</span>
      означающий начало документа.
      Source:
      <a href="https://webref.ru/layout/learn-html-css/first-web-page">webref.ru</a>
    </p>
  </article>

  <article>
    <h3>meta charset</h3>
    <p>
      Задает кодировку страницы
    </p>
  </article>


  <article>
    <h2>&lt;head&gt;</h2>
    <p>
      Внутри <span class="tag-inline">&lt;html&gt;</span> элемент
      <span class="tag-inline">&lt;head&gt;</span> определяет верхнюю
      часть документа, включая разные метаданные (сопроводительная
      информация о странице). Содержимое внутри элемента <span class="tag-inline">&lt;head&gt;</span>
      не отображается на самой веб-странице. Вместо этого он может
      включать название документа (который отображается в строке
      заголовка окна браузера), ссылки на любые внешние файлы или
      любые другие полезные метаданные.
    </p>
  </article>

  <article>
    <h2>&lt;body&gt;</h2>
    <p>
      Всё видимое содержимое веб-страницы будет находиться в элементе <span class="tag-inline">&lt;body&gt;</span>.
    </p>
  </article>

  <article>
    <div class="label label-green label-right">Block</div>
    <h2> &lt;pre&gt; </h2>
    <p>
      Элемент <span class="tag-inline">&lt;pre&gt;</span> определяет блок предварительно форматированного
      текста. Такой текст отображается обычно моноширинным шрифтом и со
      всеми пробелами между словами. По умолчанию, любое количество пробелов
      идущих в коде подряд, на веб-странице показывается как один. Элемент
      <span class="tag-inline">&lt;pre&gt;</span> позволяет обойти эту особенность и отображать текст как
      требуется разработчику. Внутри контейнера <span class="tag-inline">&lt;pre&gt;</span> допустимо применять
      любые элементы кроме следующих:
      <span class="tag-inline">&lt;big&gt;</span>,
      <span class="tag-inline">&lt;img&gt;</span>,
      <span class="tag-inline">&lt;object&gt;</span>,
      <span class="tag-inline">&lt;small&gt;</span>,
      <span class="tag-inline">&lt;sub&gt;</span> и
      <span class="tag-inline">&lt;sup&gt;</span>.
    </p>

    <pre>
      <code class="language-css">
        /* Default values for Chrome. */
        pre {
            display: block;
            font-family: monospace;
            white-space: pre;
            margin: 1em 0px 1em;
        }
      </code>
    </pre>
  </article>

  <article>
    <h2>Блочные и строчные элементы</h2>
    <p>
      Большинство элементов либо блочные, либо строчные. В чём разница?
      Блочные элементы начинаются с новой строки, накладываются друг на друга
      и занимают всю доступную ширину. Блочные элементы могут быть вложены друг в друга и
      обёртывать строчные элементы. Обычно мы видим как блочные элементы используются
      для больших кусков контента, такого как абзацы.

      Строчные элементы не начинаются с новой строки. Они попадают в обычный поток документа, выстраиваются друг за другом, а их ширина основана на их содержимом. Строчные элементы могут быть вложены друг в друга, однако, они не могут обёртывать блочные элементы. Обычно мы видим строчные элементы в качестве маленьких кусков контента, таких как отдельные слова.
    </p>
  </article>

  <article>
    <h2>&lt;div&gt;&lt;span&gt;</h2>
    <p>
      <span class="tag-inline">&lt;div&gt;</span> является блочным элементом,
      который обычно используется для идентификации
      больших групп содержимого и который помогает построить макет и дизайн веб-страницы.
      <span class="tag-inline">&lt;span&gt;</span> с другой стороны является строчным элементом
      и обычно применяется для идентификации мелких групп текста внутри блочного элемента.
    </p>
  </article>

  <article>
    <div class="label label-green label-right">Block</div>
    <h2> &lt;h1&gt; Headers</h2>
    <p>It is .h1 - h6.  h1 - the biggest, h6 - the smallest</p>
    <pre>
      <code class="language-css">
        /* Default values for Chrome. */
        h2 {
            display       : block;
            font-size     : 1.5em;
            font-weight   : bold;
            margin-top    : 0.83em;
            margin-bottom : 0.83em;
        }
      </code>
    </pre>
  </article>

  <article>
    <div class="label label-green label-right">Block</div>
    <h2> &lt;p&gt; Paragraph</h2>
    <p>
      It is a block element with
      <span class="style-inline">margin-top</span>,
      <span class="style-inline">margin-bottom</span>
      of 1em;
    </p>
    <pre>
      <code class="language-css">
        /* Default values for Chrome. */
        p {
            display       : block;
            margin-top    : 1em;
            margin-bottom : 1em;
        }
      </code>
    </pre>
  </article>

  <article>
    <h2>&lt;strong&gt; &lt;b&gt; Bold text</h2>
    <p>
      Чтобы сделать текст жирным и привлечь к нему внимание мы будем использовать
      строчный элемент <span class="tag-inline">&lt;strong&gt;</span>. Есть два элемента, которые выделят для нас текст
      жирным шрифтом: элементы <span class="tag-inline">&lt;strong&gt;</span> и <span class="tag-inline">&lt;b&gt;</span>.
      <strong>Важно</strong> понимать семантическую разницу между ними.

      Элемент <span class="tag-inline">&lt;strong&gt;</span> семантически используется, чтобы придать <b>сильное</b>
      значение тексту и таким
      образом является наиболее популярным вариантом для жирного текста.
      Элемент <span class="tag-inline">&lt;b&gt;</span>, с другой стороны, семантически означает стилистическое выделение текста,
      который не всегда является лучшим выбором для текста заслуживающего внимания.
      Мы должны оценить значимость
      текста для которого хотим установить жирность и выбрать соответствующий элемент.
    </p>
    <pre>
      <code class="language-css">
        /* Default values for Chrome. */
        strong, b {
            font-weight: bold;
        }
      </code>
    </pre>
  </article>

  <article>
    <h2> &lt;em&gt;&lt;i&gt; Italic text</h2>
    <p>
      Для <em>курсивного</em> текста, на котором тем самым делается <i>акцент</i>, мы
      будем использовать строчный элемент &lt;em&gt;. Как и с элементами для
      жирного текста, имеются два разных элемента, которые
      устанавливают курсивный текст, каждый со своим семантическим
      смыслом.

      Элемент &lt;em&gt; применяется семантически чтобы сделать акцент на
      тексте, это наиболее популярный вариант для курсива. Другой
      вариант — это элемент &lt;i&gt;, он применяется семантически для
      передачи текста другим голосом или тоном, почти как если бы оно
      было заключено в кавычки. Опять же, нам нужно будет оценить
      значение текста, который мы хотим выделить курсивом, и выбрать
      соответствующий элемент.
    </p>
    <pre>
      <code class="language-css">
        /* Default values for Chrome. */
        em, i {
            font-style: italic;
        }
      </code>
    </pre>
  </article>

  <article>
    <h2>Открытие ссылки в новом окне </h2>
    <p>
      Одной из доступных особенностей связанной
      с гиперссылками является способность определить, где ссылка откроется
      при щелчке. Как правило, ссылки открываются в том же окне, в котором
      по ним щёлкнули, однако ссылки также могут быть открыты в новых окнах.

      Для открытия ссылки в новом окне используйте атрибут <span class="attribute-inline">target</span> со
      значением <span class="attribute-inline">_blank</span>. Этот атрибут определяет, где именно будет
      отображаться ссылка, а значение <span class="attribute-inline">_blank</span> задаёт новое окно.

      Чтобы открыть http://shayhowe.com в новом окне, код будет выглядеть
      следующим образом:
    </p>
    <pre>
      <code class="language-markup">
        &lt;a href="http://shayhowe.com/" target="_blank"&gt;Шэй Хоу&lt;/a&gt;
      </code>
    </pre>
  </article>

  <article>
    <h2> Связывание частей одной страницы </h2>
    <p>
      Периодически мы увидим гиперссылки, которые указывают на часть той же
      страницы, где отображается ссылка. Типичным примером таких связей
      является ссылка «Вернуться наверх», которая возвращает пользователя к
      верхней части страницы.

      Мы можем создать ссылку на странице, сначала установив атрибут <span class="attribute-inline">id</span>, на
      который мы хотим ссылаться, а затем использовать его значение в
      атрибуте <span class="attribute-inline">href</span> элемента <span class="tag-inline">&lt;a&gt;</span>.

      Используя ссылку «Вернуться наверх» в качестве примера, мы можем
      вставить атрибут <span class="attribute-inline">id</span> вверху для элемента
      <span class="tag-inline">&lt;body&gt;</span></span>. Теперь мы можем
      создать ссылку с атрибутом <span class="attribute-inline">href</span>
      и значением #top, которая ссылается на
      начало элемента <span class="tag-inline">&lt;body&gt;</span>.
    </p>
  </article>

  <article>
    <h2>&lt;nav&gt;</h2>
    <p>
      Элемент <span class="tag-inline">&lt;nav&gt;</span> определяет блок основных навигационных ссылок на
      странице. Данный элемент должен быть зарезервирован только для главных
      разделов навигации, таких как глобальная навигация, оглавление,
      предыдущая/следующая ссылки или других заслуживающих внимания групп
      навигационных ссылок.

      Чаще всего ссылки внутри элемента <span class="tag-inline">&lt;nav&gt;</span> будут вести на другие страницы
      в пределах одного сайта или частей той же веб-страницы. Разные
      одноразовые ссылки не должны быть обернуты элементом <span class="tag-inline">&lt;nav&gt;</span>, они должны
      использовать только элемент <span class="tag-inline">&lt;a&gt;</span>.
    </p>

    <pre>
      <code class="language-markup">
        &lt;nav&gt;
          &lt;a href="/html"&gt;HTML&lt;/a&gt;
          &lt;a href="/css"&gt;CSS&lt;/a&gt;
        &lt;/nav&gt;
      </code>
    </pre>

  </article>

  <article>
    <h2>&lt;article&gt;</h2>
    <p>
      Элемент <span class="tag-inline">&lt;article&gt;</span> применяется для идентификации
      независимого, самостоятельного раздела содержимого, который
      можно классифицировать как изолированный или повторно
      используемый. Мы часто используем элемент <span class="tag-inline">&lt;article&gt;</span> для
      разметки постов блога, газетных статей, контента добавляемого
      пользователями и тому подобное.

      При принятии решения, следует ли использовать элемент
      <span class="tag-inline">&lt;article&gt;</span>, мы должны определить, может ли содержимое
      элемента быть повторено в других местах без какой-либо
      путаницы. Если содержимое элемента <span class="tag-inline">&lt;article&gt;</span> было удалено
      из контекста страницы и помещено, к примеру, в электронную почту
      или печатную работу, то в содержимом по прежнему должен остаться
      смысл.
    </p>
  </article>

  <article>
    <h2>&lt;section&gt;</h2>
    <p>
      Элемент <span class="tag-inline">&lt;section&gt;</span> применяется для идентификации тематической
      группы содержимого, которая, как правило, но не всегда, включает в
      себя заголовок. Группа контента внутри <span class="tag-inline">&lt;section&gt;</span> может носить
      общий характер, но полезно определить всё содержимое как связанное
      между собой.

      Элемент <span class="tag-inline">&lt;section&gt;</span> обычно используется для разделения страницы и
      обеспечения на ней иерархии.
    </p>
  </article>

  <article>
    <h2>
      Выбор между элементами &lt;article&gt;, &lt;section&gt; или &lt;div&gt;
    </h2>
    <p>
      Порой довольно трудно решить, какой из элементов <span class="tag-inline">&lt;article&gt;</span>,
      <span class="tag-inline">&lt;section&gt;</span> или <span class="tag-inline">&lt;div&gt;</span>
      лучше подходит для работы, основываясь
      на его смысловом значении. Хитростью, как и с любым семантическим
      выбором, является просмотр содержимого.

      Оба элемента <span class="tag-inline">&lt;article&gt;</span> и
      <span class="tag-inline">&lt;section&gt;</span> организуют структуру
      документа и помогают наметить его схему. Если содержимое сгруппировано
      исключительно для стилизации и не несёт ценность для схемы документа,
      используйте элемент <span class="tag-inline">&lt;div&gt;</span>.

      Если содержимое добавляется к схеме документа и может быть независимо
      повторено или перенесено, используйте элемент <span class="tag-inline">&lt;article&gt;</span>.

      Если содержимое добавляется к схеме документа и представляет собой
      тематическую группу содержимого, используйте элемент <span class="tag-inline">&lt;section&gt;</span>.
    </p>
  </article>

  <article>
    <h2> &lt;aside&gt; </h2>
    <p>
      Элемент <span class="tag-inline">&lt;aside&gt;</span> содержит контент, такой как боковые
      панели, вставки или краткие пояснения, который косвенно связан к
      окружающим его содержимым. К примеру, при использовании внутри
      элемента <span class="tag-inline">&lt;article&gt;</span>,
      <span class="tag-inline">&lt;aside&gt;</span> может определить
      содержимое, связанное с автором статьи.

      Мы можем инстинктивно думать об элементе
      <span class="tag-inline">&lt;aside&gt;</span> в качестве
      элемента, который отображается слева или справа на странице. Однако мы
      должны помнить, что все структурные элементы, включая
      <span class="tag-inline">&lt;aside&gt;</span>,
      являются блочными и как таковые выводятся с новой строки и занимают
      всю доступную ширину страницы или элемента, в который они вложены,
      также известного как их родительский элемент.
    </p>
  </article>

</section>

{% endblock %}
